body {
	background: url('../img/slash_it_light.png');
}

.kb-logo-text {
    position: relative;
    top: 30%;
    left: 40%;
    color: #2FC4FE;
    font-size: 120%;
}

address .kb-logo-text {
	position: inherit;
}
.kb-logo {
	background: url(../img/kbgeo-logo-blue.png) no-repeat;
}

.color2 {
	color: #39AF3F;
}

.carousel-inner {
    background-color: rgba(0,0,0,0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
}
.carousel-content strong {
	text-shadow: none;
}

#main-slider {
  background-image: url(../img/slider-bg-fire.jpg);
}

#demo {
	
}

#demo .box {
	background-color: #52B6EC;
}

#demo h1 {
	color: white;
}

#comparison .box {
	border: 1px solid black;
	webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: black;
}

#comparison .box h2 {
	color: white;
}

#comparison-table thead {
	text-align: center;
	color: #666;
	padding: 15px 0;
	font-size: 48px;
}

#comparison-table thead td.feature-label {
	font-size: 30px;
	vertical-align: middle;
}

#comparison-table tbody td {
	padding: 20px;
	font-size: 130%;
}

.table-striped tbody > tr:nth-child(even) > td {
	background-color: white;
}

#comparison-table {
	background-color: white;
}
#comparison-table .row {
	margin-left: 0px;
	margin-right: 0px;
}
#comparison-table .row div {
    padding: 20px;
}
#comparison-table .row .feature-label {
    padding-top: 13px;
}
#comparison-table .row:nth-child(odd) {
    background-color: #f7f7f7;
}
#comparison-table > .row:first-of-type {
	font-size: 250%;
	margin: 0;
	background: black;
}
#comparison-table > .row:last-of-type .section-primary {
	border-bottom: 1px solid #52b6ec;
}

#comparison-table > .row:first-of-type .section-primary {
    color: #fff;
    background-color: #52b6ec;
    border-bottom-color: #52b6ec;
    font-size: 130%;
}

#comparison-table .feature-label,
#comparison-table tbody td.feature-label {
	text-align: right;
    font-size: 140%;
	color: #39AF3F;
}

/* Feature label icons */
#comparison-table .feature-label i,
#comparison-table tbody td.feature-label i {
	float: left;
	color: black;
}

#comparison-table > .row:first-of-type .section-primary,
#comparison-table thead td.section-primary {
	color: #fff;
	background-color: #52b6ec;
	border-bottom-color: #52b6ec;
	margin: 0;
}

#comparison-table .section-primary,
#comparison-table tbody td.section-primary {
	border: 1px solid #52b6ec;
	border-bottom: inherit;
	border-top: inherit;
}



#about .box {
	color: white;
	background-color: #52B6EC;
}

.free-trial {
	text-align: center;
	padding: 30px;
	background-color: rgba(255,255,255,.8);
	font-weight: bold;
	font-size: 150%;
}

.free-trial a {
	color: black;
}

.free-trial a:hover {
	color: #52B6EC;
}

.box {
	-webkit-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.75)
}


/* FAQ items */
.question {
    border: 1px solid #4ba8da;
    margin-top: 32px;
    padding: 10px;
    font-weight: bold;
    background: #52B6EC;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 1px 1px 1px #888888;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.59);
}

.answer {
    margin-top: 10px;
    background: white;
    padding: 10px;
    font-weight: normal;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: none;
    color: black;
}

.answer a {
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 991px)  {
	/* Hide the logo in the navbar so everything fits on one line */
	.kb-logo-text,
	.navbar-default .navbar-brand {
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1200px)  {
	/* Squish the logo in the navbar a bit so everything fits on one line */
	.kb-logo-text {
		display: none;
	}
	
	.navbar-default .navbar-brand {
		width: 74px;
	}
}
