#sidebar-wrapper {
	color: white;
	background: url('../img/sidebar_bkg.png');
	
	-webkit-box-shadow: 3px 0px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 0px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 0px 16px 0px rgba(0,0,0,0.75);
}

.sidebar-nav li a {
	color: white;
    background-color: rgba(255,255,255,0.1);
    position: relative;
}

.sidebar-nav li a:hover {
    background: rgba(255,255,255,0.3);
}

.sidebar-nav > .sidebar-brand a {
    margin-top: 0;
    top: 0;
    color: white;
    background-color: rgba(41, 194, 255, 0.7);
    border-bottom: 2px solid rgba(0, 132, 184, 0.7);
    padding-left: 15%;
}

.sidebar-nav > .sidebar-brand a:hover {
	border-bottom: none;
	background-color: rgba(0, 168, 235, 0.7);
}
	

.sidebar-nav form {
	position: relative;
    top: 25px;
}

/* Adjust lat-lng/address tab container downward. For whatever reason it is floated to the top of the parent. */
.nav.nav-tabs {
    margin-top: 120px;
}

.tab-content {
	margin-top: 10px;
}

.nav-tabs>li>a {
	color: white;
}

.nav-tabs>li>a:hover {
	color: black;
}

.form-group {
    padding-right: 20px;
    padding-left: 10px;
}

#mainMap {
	height: 100%;
}

.btn-primary {
	background-color: rgba(41, 194, 255, 0.7);
}

.btn-primary:hover {
	background-color: rgba(0, 132, 184, 0.7);
}

input.error {
	border: 2px solid red;
}

#errorMessage {
	color: red;
	font-weight: bold;
}

#stats {
	text-align: center;
	margin-top: 40px;
}

#stats .responseTime {
	color: #9BFF00;
}

.map-label {
	color: black;
	background-color: white;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 60px;
	border: 1px solid #464646;
	white-space: nowrap;
	
	-webkit-border-radius: 8px 0px 8px 0px;
	-moz-border-radius: 8px 0px 8px 0px;
	border-radius: 8px 0px 8px 0px;
}

.map-label-coastal {
	width: 110px;
}

#footer {
	padding: 10px;
    position: absolute;
    bottom: 0px;
}
